install pyvisa, pyusb, pyvisa-py, NI-visa from NI

In [1]:
import pyvisa as visa
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from time import sleep


rm=visa.ResourceManager()
lst=rm.list_resources()
dev_num=1
dev_list={}

for dev in lst:
    if dev[:3]=="USB":
        
        inst= str(dev_num)
        dev_list.update({inst:dev})
        dev_num+=1
        
        
print (dev_list)        
num_inst=len(dev_list)  
print (num_inst)

{'1': 'USB0::0xFFFF::0x9200::802204020766810007::INSTR', '2': 'USB0::0xFFFF::0x9200::802204020757710047::INSTR'}
2

In [2]:
print (dev_list['2'])

USB0::0xFFFF::0x9200::802204020757710047::INSTR

In [3]:
Test_Volt=[9,12,16,12]

In [4]:
t1 = rm.open_resource(dev_list["1"])
t2 = rm.open_resource(dev_list["2"])

t1

<'USBInstrument'('USB0::0xFFFF::0x9200::802204020766810007::0::INSTR')>

In [5]:
# t1.write('Sour:appl 0:20')   #min max volt
# t2.write('Sour:appl 0:20')

t1.write('*cls')
t2.write('*cls')

# t1.write('volt 1.1')

6

In [6]:
t1.write('volt 11')
t1.write('volt 22')

9

In [7]:
V1=[]
I1=[]
P1=[]

V2=[]
I2=[]
P2=[]

wait_after_bias_change=0.5   #sec
each_volt_measure_cycle=10
iteration_interval=0.5


for bias in Test_Volt:
    t1.write('output 1')
    t2.write('output 1')
    
    for i in range (each_volt_measure_cycle):
        
        t1.write('volt ' + str(bias))
        t2.write('volt ' + str(bias))

        sleep(wait_after_bias_change)
        
        t1.write('MEAS:VOLT?')
        volt1=t1.read().strip('\n')
        t2.write('MEAS:VOLT?')
        volt2=t2.read().strip('\n')

        t1.write('MEAS:CURR?')
        curr1=t1.read().strip('\n')        
        t2.write('MEAS:CURR?')
        curr2=t2.read().strip('\n')


        t1.write('MEAS:POW?')
        pwr1=t1.read().strip('\n')
        
        t2.write('MEAS:POW?')
        pwr2=t2.read().strip('\n')

        sleep (iteration_interval)

        V1.append(volt1)
        I1.append(curr1)
        P1.append(pwr1)
      
        
        V2.append(volt2)
        I2.append(curr2)
        P2.append(pwr2)
        
        print (volt2)

8.996
8.997
8.998
8.998
8.998
8.998
8.998
8.998
8.999
8.998
11.991
11.995
11.999
11.999
11.999
11.999
11.999
11.999
11.999
11.999
15.997
15.998
15.999
15.999
16
16
16
16
15.999
16
12.001
12
11.999
11.999
11.999
11.999
11.999
11.999
11.999
11.999

In [8]:
print (V1)
print (V2)

['8.996', '8.997', '8.998', '8.998', '8.998', '8.998', '8.998', '8.998', '8.999', '8.998', '11.996', '11.997', '11.998', '11.998', '11.998', '11.998', '11.998', '11.998', '11.998', '11.998', '15.996', '15.997', '15.998', '15.998', '15.999', '15.998', '15.999', '15.999', '15.999', '15.998', '12', '12', '11.999', '11.998', '11.998', '11.998', '11.998', '11.998', '11.998', '11.998']
['8.996', '8.997', '8.998', '8.998', '8.998', '8.998', '8.998', '8.998', '8.999', '8.998', '11.991', '11.995', '11.999', '11.999', '11.999', '11.999', '11.999', '11.999', '11.999', '11.999', '15.997', '15.998', '15.999', '15.999', '16', '16', '16', '16', '15.999', '16', '12.001', '12', '11.999', '11.999', '11.999', '11.999', '11.999', '11.999', '11.999', '11.999']

In [9]:
t1.write('*cls')
t2.write('*cls')

6

In [10]:
#File to save
fname='t1'+str(int(time.time()))             # change file name
directory= "C:\\temp\\"  # change folder name if necessary
dataf1=directory+fname+'.csv'
# dataf

#File to save
fname='t2'+str(int(time.time()))             # change file name
directory= "C:\\temp\\"  # change folder name if necessary
dataf2=directory+fname+'.csv'
# dataf
print (dataf2)

C:\temp\t21664391113.csv

In [11]:
    
data1=pd.DataFrame({'Volt (mV)':V1,
                   'Curr (mA)':I1,
                    'Power': P1})
data1.to_csv(dataf1)
# V1.clear()
# I1.clear()
# P1.clear()
data1.head()

  Volt (mV) Curr (mA)       Power
0     8.996         0  0.00044614
1     8.997         0           0
2     8.998         0           0
3     8.998         0           0
4     8.998         0           0

In [12]:
    
data2=pd.DataFrame({'Volt (mV)':V2,
                   'Curr (mA)':I2,
                    'Power': P2})
data2.to_csv(dataf2)
# V2.clear()
# I2.clear()
# P2.clear()
data2.head()

  Volt (mV) Curr (mA)       Power
0     8.996     1e-04  0.00092663
1     8.997         0           0
2     8.998         0           0
3     8.998         0           0
4     8.998         0           0

In [27]:
plt.plot(data['Curr (mA)']*1000, data['Resistance'])
plt.show()

NameError: name 'data' is not defined

In [13]:

t1.write('output 0')
t2.write('output 0')

10